APP_NAME=ner_service
APP_ENV=dev
HOST=0.0.0.0
PORT=8000
LOG_LEVEL=INFO

NER_MODEL_PATH=artifacts/ner_model
NER_DEVICE=cpu
NER_MAX_LENGTH=256
NER_BATCH_SIZE=16

LLM_MODE=stub

GROQ_API_KEY=тут твой токен Брат
GROQ_MODEL=llama-3.3-70b-versatile
GROQ_TIMEOUT=60
GROQ_TEMPERATURE=0
